{% extends 'base.html' %}

{% block main %}

<section class="col-md-9">
    <h3>Цитаты</h3>
    <table class="table table-bordered table-striped table-hover align-middle">
        <thead class="table-dark">
            <tr>
                {% for header_name, value in headers.items %}
                    <th scope="col">
                        {{ header_name }}

                        {% if value == sort_by and value != "" %}
                            {% if direction == 'desc' %}
                                <a href="{% url 'all_quotes' %}?sort_by={{ value }}&direction=asc" class="text-danger">
                                    ↓
                                </a>
                            {% else %}
                                <a href="{% url 'all_quotes' %}?sort_by={{ value }}&direction=desc" class="text-danger">
                                    ↑
                                </a>
                            {% endif %}
                        {% elif value != sort_by and value != "" %}
                            <a href="{% url 'all_quotes' %}?sort_by={{ value }}&direction=desc" class="text-primary">
                                ↓
                            </a>
                        {% endif %}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for quote in quotes %}
                <tr>
                    <td><a href="quote/{{quote.pk}}">{{ quote.pk }}</a></td>
                    <td>{{ quote.source.type }}</td>
                    <td><a href="source/{{quote.source.pk}}">{{ quote.source.label }}</a></td>
                    <td>{{ quote.text }}</td>
                    <td>{{ quote.weight }}</td>
                    <td>{{ quote.view_count }}</td>
                    <td>{{ quote.likes }}</td>
                    <td>{{ quote.dislikes }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="6" class="text-center">Нет данных.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
<!--    <div>-->
<!--        {{ debug }}-->
<!--    </div>-->
</section>

{% endblock main %}
